.dice-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.dice{
    min-width: 100px;
    box-sizing: border-box;
}

.dice > img{
    display: block;
    border-radius: 15px;
}

.dice.locked{
    border: 5px solid rgb(41, 91, 114);
    border-radius: 15px;
}

.container {
    background-color: rgb(164, 209, 216);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

body {
    margin: 0;
}

.control-container {
    align-self: center;
}
